* {
  box-sizing: border-box;
}
#root {
  background-color: #FFF6C8;
  min-height: 100vh;
}
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.main {
  padding-bottom: 1rem;
  gap: 1rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}
.headerMenu {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 4rem);
  grid-gap: 1rem;
}
h1 {
  margin: 0;
  padding: 4rem 0 3rem;
  font-size: 64px;
}

.input {
  width: 100%;
  height: 2.5em;
  padding: 0 .5rem;
  font-size: 1rem;
}
.border {
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.itemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem 0 0 0;
  position: relative;
}
.itemCard:hover {
  cursor: pointer;
}
.item {
  padding: .5rem 0 0;
}
.price {
  width: 60%;
  background-color: #E9D2FF;
  padding: .1rem 0;
}
.addCartSvg {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Filter*/
.filterButton:hover,
.cross:hover {
  cursor: pointer;
}
.filterButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter {
  font-size: 1rem;
  background-color: white;
  padding: 0 .5rem 0 0;
  border: none;
}
.filterMenu {
  grid-column-start: span 2;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  padding-left: .5rem;
  height: 0px;
  opacity: 0;
  transition: height 1s ease, opacity .5s ease;
}
.filterMenuShow {
  height: 58px;
  opacity: 1;
}
.filterTerm {
  padding: 0 .5rem .5rem 0;
}
.filterTerm label {
  padding-left: .3rem;
}
.filterArrow {
  transition: 1s;
}
.filterArrowRotate {
  transform: rotate(-180deg);
}
/* Popup */
.popup {
  background-color: #DCFDFF;
  border-top: 5px solid black;
  height: 200px;
  width: 100%;
  position: sticky;
  bottom: 0;
  transition: 1s;
  padding: 1rem 0 0;
}
.popUpContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 4rem);
  margin: 0 auto;
  gap: 1rem;
}
.popupGone {
  opacity: 0;
  
}
.popupButton {
  padding: .1rem;
  background-color: transparent;
  font-size: 1rem;
  border: none;
}
.popupOption {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.p {
  margin: 0;
  padding: .3rem;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
.cross {
  position: absolute;
  top: 7px;
  right: 7px;
}
.arrow {
  margin-left: .5rem;
}
.plusminus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.priceButton {
  background-color: #F5FF88;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addCartButton {
  background-color: #FFDE88;
  padding: .2rem;
  border: 5px solid black;
}
.forwardButton {
  background-color: #99FF88;
  flex-direction: row;
  justify-content: center;
  padding: .2rem;
  border: 5px solid black;
}
.backwardButton {
  background-color: #FFC1C1;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  outline: none;
}
.hide {
  display: none;
}
.goCart {
  position: absolute;
  right: 3rem;
  display: flex;
}
.cart {
  display: flex;
  width: calc(100% - 4rem);
  margin: 0 auto;
  gap: 1rem;
}
header {
  position: relative;
  margin-bottom: 1rem;
}
.checkout {
  width: calc(100% - 4rem);
  margin: 0 auto;
}
.pricelistItem {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  border-bottom: 2px solid black;
}
.checkout div:nth-last-child(2) {
  border-bottom: none;
}
.total {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  border-top: 4px solid red;
}
.bold {
  font-weight: bold;
}
.payment {
  margin-top: 1rem;
  
}
.paymentButton {
  background-color: #F5FF88;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  padding: .5rem;
}
@media screen and (max-width: 499px) {
  .popupGone {
    position: fixed;
    bottom: -200px;
  }
}
@media screen and (min-width: 500px) {
  .main {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .popup {
    border: solid 5px black;
    border-radius: 10px;
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    position: sticky;
    bottom: 2rem; 
  }
}
@media screen and (min-width: 650px) {
  .main {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}
@media screen and (min-width: 800px) {
  .popup {
    max-width: calc(800px - 4rem);
  }
}
@media screen and (min-width: 1280px) {
  .popup {
    max-width: 200px;
    height: 60vh;
    max-height: 400px;
    margin: 0 auto;
    position: fixed;
    right: 3rem; 
    bottom: 2rem;
    
  }
  .popUpContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;
    height: 100%;
  }
  .popupOption {
    gap: .5rem;
  }
}
@media screen and (min-width: 1400px) {
  .popup {
    max-width: 250px;
  }
}